html, body {
    padding: 0%;
    margin: 0;
    height: 100%;
}

#background {

    background-color:cornsilk;
    background-image: url(../images/backgroundImage.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

/*code sample from stockoverflow-search: placeholder color css*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

/* container align to right*/
#inputContainer {

    width: 400px;
    padding: 45px;
    position: relative;
    float: right;
    padding-top: 7em;


}

#inputContainer button {
    background-color: transparent;
    border: 2px solid cadetblue;
    border-radius: 250px;
    color: cadetblue;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#inputContainer button:hover {
    cursor: pointer;
}

.hasAccountText span {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
    text-align: center; 
    cursor: pointer;
}


#inputContainer button:active {
    
    transform: translateY(4px);
  }

#inputContainer label {
    color: #a0a0a0;
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

#loginContainer * {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
<<<<<<< HEAD
    padding: 45px;
=======
    padding: 19px;
>>>>>>> da7f00f1c8561d2c840ba4ec7a855dbc674c84c0
    position: relative;
    max-width: 1024px;
    float: right;
    border-right: 1px solid #999;
}

#inputContainer h2 {
    text-align: center;
    
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#registerForm, 
#loginForm {
    display: none;
}

#loginText {
<<<<<<< HEAD
    padding: 45px;
    display: table-cell;
    vertical-align: top;
    padding-top: 120px;
    
=======
    padding: 64px;
    display: table-cell;
    vertical-align: top;
    padding-top: 80px;
    color: #fff;
>>>>>>> da7f00f1c8561d2c840ba4ec7a855dbc674c84c0
}


#loginText h1 {
    color: #07d159;
    font-size: 60px;
    font-weight: bold;
    
}

#loginText h2 {
    margin: 35px 0;
}

#loginText ul {
    padding: 0;
}

#loginText li {
    font-size: 25px;
    padding: 15px 85px;
    list-style-type: none;
    background: url(../images/icons/checkmark3.png) no-repeat;
    
}

<<<<<<< HEAD
#loginContainer Form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
=======
#inputContainer .errorMessage {
    color: #07d159;
    font-size: 12px;
    display: block;
}
>>>>>>> da7f00f1c8561d2c840ba4ec7a855dbc674c84c0
